@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Oranienbaum&display=swap');
body{
    margin: 0;
    padding: 0;
    color: #43281D;
    font-family: 'Open Sans', sans-serif;
}
main{
    background-color: #FFE7C8;
    height: 100vh;
    position: relative;
    margin-bottom: 140px;
}
a{
    text-decoration: none;
    color: #43281D;
}
.li_menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
h1{
    font-family: 'Oranienbaum', serif;
    font-size: 96px;
    font-weight: 100;
    margin: 0;
}
header{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.li1, .li2, .li3, .li4{
    margin-right: 70px;
    font-family: 'Oranienbaum', serif;
    font-size: 20px;
}

.li4:hover {
    animation-name: anim1;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

.li1:hover {
    animation-name: anim1;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

.li3:hover {
    animation-name: anim1;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

.li2:hover {
    animation-name: anim1;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

.reserve{
    display: flex;
    margin-top: 40px;
}
.container{
    margin-left: 665px;
    cursor: default;
}
.main__img{
    position: absolute;
}
.img4{
    right: 200px;
    bottom: -60px;
}
.img3{
    right: 620px;
    bottom: -40px;
}
.img2{
    left: 550px;
    bottom: -140px;
}
.img1{
    left: 200px;
    bottom: -70px;
}
.h2{
    font-family: 'Oranienbaum', serif;
    font-weight: 100;
    left: 100px;
    font-size: 58px;
    margin-left: 540px;
    margin-top: 400px;
    cursor: default;
}

.h2_book {
    margin: 0;
    margin-bottom: 20px;
}

.h2_menu {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 180px;
}

.div_object {
    width: 406px;
}

.div_group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 51vw;
    margin-left: auto;
    margin-right: auto;
}

.h3 {
    margin: 0;
    cursor: default;
    text-align: right;
    font-size: 16;
    font-weight: 100;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

.price {
    margin: 0;
    font-weight: 100;
    color: #cc4529;
    font-size: 22px;
}

.main_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
}

.more {
    flex-direction: row;
    justify-content: center;
}

.line {
    height: 1px;
    width: 846px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: #000000;
}

.book {
    background-color: #ffe7c8;
    margin-top: 200px;
    height: 155vh;
    padding-top: 200px;
}

.book_reserve {
    background-color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75px;
    align-items: center;
}

.arrow_book {
    width: 25px;
}

.book_content {
    margin: 0;
    text-align: left;
    margin-bottom: 20px;
}

.video_2 {
    width: 594px;
}

.book_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.book_desc {
    text-align: center;
}

.book_main_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_point {
    text-align: left;
    font-size: 22px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

.menu_point_desc {
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 14px;
}

.desc {
    margin-left: auto;
    margin-right: auto;
    width: 777px;
    text-align: center;
}

.li_desc {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.breakfast {
    font-size: 48px;
    margin-left: 450px;
    margin-top: 150px;
}

.div_img {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 180px;
}

.img_1, .img_2, .img_3, .img_4 {
    object-fit: contain;
}

.text1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 100;
    position: absolute;
    left: 540px;
    cursor: default;
}
.text2{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 100;
    position: absolute;
    right: 540px;
    cursor: default;
}
.video{
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    display: block
}
.maps{
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    display: block
}
.number{
    font-family: 'Oranienbaum', serif;
    font-weight: 100;
    font-size: 58px;
    text-align: center;
    margin-top: 100px;
    cursor: default;
}
.address{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 100;
    margin: 0;
    text-align: center;
    cursor: default;
}
.info1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
    cursor: default;
}
.info2{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
    cursor: default;
}

@keyframes anim1{
    100%{
        transform: scale(1.1);
    }
}
