@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Oranienbaum&display=swap');
body{
    margin: 0;
    padding: 0;
    color: #43281D;
    font-family: 'Open Sans', sans-serif;
}
main{
    background-color: #FFE7C8;
    height: 100vh;
    position: relative;
    margin-bottom: 140px;
}
a{
    text-decoration: none;
    color: #43281D;
}
.li_menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
h1{
    font-family: 'Oranienbaum', serif;
    font-size: 96px;
    font-weight: 100;
    margin: 0;
}
header{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.li1, .li2, .li3, .li4{
    margin-right: 70px;
    font-family: 'Oranienbaum', serif;
    font-size: 20px;
    transition: 0.2s;
}

.li1:hover, .li2:hover, .li3:hover, .li4:hover {
    transform: scale(1.1);
}

.reserve{
    display: flex;
    margin-top: 40px;
}

.firstscreenContainer{
    margin-left: 665px;
    cursor: default;
}

.firstscreenImg_Container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.firstscreenImg_Container img {
    object-fit: contain;
}

.secondscreenHead{
    font-family: 'Oranienbaum', serif;
    font-weight: 100;
    left: 100px;
    font-size: 58px;
    margin-left: 540px;
    margin-top: 400px;
    cursor: default;
}

.thirdscreenInfo_Head {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Oranienbaum', serif;
    font-weight: 100;
    font-size: 58px;
    cursor: default;
}

.thirdscreenInfoBook_Head {
    margin: 0;
    margin-bottom: 50px;
    font-family: 'Oranienbaum', serif;
    font-weight: 100;
    font-size: 58px;
    cursor: default;
    text-align: center;
}

.menuHead {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 180px;
    font-family: 'Oranienbaum', serif;
    font-weight: 100;
    font-size: 58px;
    cursor: default;
}

.menuSection_column {
    width: 406px;
}

.menuSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 51vw;
    margin-left: auto;
    margin-right: auto;
}

.firstscreenAdress {
    margin: 0;
    cursor: default;
    text-align: right;
    font-size: 16;
    font-weight: 100;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

.price {
    margin: 0;
    font-weight: 100;
    color: #cc4529;
    font-size: 22px;
}

.menuPoint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 380px;
}

.viem {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
}

.line {
    height: 1px;
    width: 846px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: #000000;
}

.thirdscreen {
    background-color: #ffe7c8;
    margin-top: 200px;
    height: 145vh;
    padding-top: 200px;
}

.bookReserve {
    background-color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75px;
    align-items: center;
    margin-top: 40px;
}

.arrow_book {
    width: 25px;
}

.thirdscreenInfo_Content {
    margin: 0;
    text-align: left;
    margin-bottom: 20px;
    cursor: default;
    font-size: 16;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.video_2 {
    width: 594px;
}

.thirdscreenMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.thirdscreenInfoBook_Desc {
    text-align: center;
    margin: 0;
    cursor: default;
    font-size: 16;
    font-weight: 100;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}

.thirdscreenInfo_Main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuPoint_Head {
    text-align: left;
    font-size: 22px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin: 0;
    cursor: default;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.menu_point_desc {
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 14px;
}

.menuDesc {
    margin-left: auto;
    margin-right: auto;
    width: 777px;
    font-weight: 100;
    text-align: center;
}

.li_desc {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.menuSection_Head {
    font-size: 48px;
    margin-left: 450px;
    margin-top: 150px;
    font-family: 'Oranienbaum', serif;
    font-weight: 100;
    cursor: default;
}

.thirdscreenImages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 180px;
}

.img_1, .img_2, .img_3, .img_4 {
    object-fit: contain;
}

.secondscreenTexts {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
}

.secondscreenText{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 100;
    cursor: default;
}

.video{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: block
}

.footerMaps{
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    display: block
}
.footerNumber{
    font-family: 'Oranienbaum', serif;
    font-weight: 100;
    font-size: 58px;
    text-align: center;
    margin-top: 100px;
    cursor: default;
}
.footerAdress{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 100;
    margin: 0;
    text-align: center;
    cursor: default;
}
.footerInfo_1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
    cursor: default;
}
.footerInfo_2{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
    cursor: default;
}
