@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Oranienbaum&display=swap');
body{
    margin: 0;
    padding: 0;
    color: #43281D;
    font-family: 'Open Sans', sans-serif;
}
main{
    background-color: #FFE7C8;
    height: 100vh;
    position: relative;
    margin-bottom: 140px;
}
a{
    text-decoration: none;
    color: #43281D;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
h1{
    font-family: 'Oranienbaum', serif;
    font-size: 96px;
    font-weight: 100;
    margin: 0;
}
header{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: flex-start;
}
li{
    margin-right: 70px;
    font-family: 'Oranienbaum', serif;
    font-size: 20px;
}

li:hover {
    animation-name: anim1;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

.h3{
    margin: 0;
    cursor: default;
}
.reserve{
    display: flex;
    margin-top: 40px;
}
.container{
    margin-left: 665px;
    cursor: default;
}
.main__img{
    position: absolute;
}
.img4{
    right: 200px;
    bottom: -60px;
}
.img3{
    right: 620px;
    bottom: -40px;
}
.img2{
    left: 550px;
    bottom: -140px;
}
.img1{
    left: 200px;
    bottom: -70px;
}
.h2{
    font-family: 'Oranienbaum', serif;
    font-weight: 100;
    left: 100px;
    font-size: 58px;
    margin-left: 540px;
    margin-top: 400px;
    cursor: default;
}

.h2_menu {
    left: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
.text1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 100;
    position: absolute;
    left: 540px;
    cursor: default;
}
.text2{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 100;
    position: absolute;
    right: 540px;
    cursor: default;
}
.video{
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    display: block
}
.maps{
    margin-left: auto;
    margin-right: auto;
    margin-top: 500px;
    display: block
}
.number{
    font-family: 'Oranienbaum', serif;
    font-weight: 100;
    font-size: 58px;
    text-align: center;
    margin-top: 100px;
    cursor: default;
}
.address{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 100;
    margin: 0;
    text-align: center;
    cursor: default;
}
.info1{
    font-family: 'Open Sans', sans-serif;
    font-size: 16;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
    cursor: default;
}
.info2{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    margin-top: 50px;
    cursor: default;
}

@keyframes anim1{
    100%{
        transform: scale(1.1);
    }
}

@media (max-width: 1726px){
    .img2{
        left: 535px;
    }
    .img3{
        right: 555px;
    }
    .text1{
        left: 450px;
    }
    .text2{
        right: 450px;
    }
    .container{
        margin-left: 600px;
    }
    .h2{
        margin-left: 450px;
    }
}

@media (max-width: 1644px){
    .img2{
        left: 495px;
    }
    .img3{
        right: 540px;
    }
    .text1{
        left: 430px;
    }
    .text2{
        right: 430px;
    }
    .container{
        margin-left: 560px;
    }
    .h2{
        margin-left: 430px;
    }
    .video{
        width: 1150px;
    }
}

@media (max-width: 1590px){
    .img2{
        left: 483px;
    }
    .img3{
        right: 521px;
    }
    .text1{
        left: 390px;
    }
    .text2{
        right: 390px;
    }
    .container{
        margin-left: 530px;
    }
    .h2{
        margin-left: 390px;
    }
}

@media (max-width: 1560px){
    .img2{
        left: 466px;
    }
    .img3{
        right: 517px;
    }
    .text1{
        left: 360px;
    }
    .text2{
        right: 360px;
    }
    .container{
        margin-left: 515px;
    }
    .h2{
        margin-left: 360px;
    }
}

@media (max-width: 1530px){
    .img2{
        left: 450px;
        top: 1100px;
    }
    .img3{
        right: 450px;
        top: 1100px;
    }
    .text1{
        left: 350px;
    }
    .text2{
        right: 350px;
    }
    .img4{
        right:406px;
    }
    .img1{
        left:400px;
    }
    .h2{
        margin-left: 350px;
    }
}

@media (max-width: 1463px){
    .img2{
        left: 430px;
    }
    .img3{
        right: 425px;
    }
    .text1{
        left: 320px;
    }
    .text2{
        right: 320px;
    }
    .container{
        margin-left: 470px;
    }
    .h2{
        margin-left: 320px;
    }
    .video{
        width: 1100px;
    }
}

@media (max-width: 1405px){
    .img1{
        left: 380px;
    }
    .img2{
        left: 350px;
    }
    .img3{
        right: 350px;
    }
    .img4{
        right: 380px;
    }
    .text1{
        left: 290px;
    }
    .text2{
        right: 290px;
    }
    .container{
        margin-left: 440px;
    }
    .h2{
        margin-left: 290px;
    }
    .video{
        width: 1000px;
    }
}

@media (max-width: 1300px){
    .img1{
        left: 340px;
    }
    .img2{
        left: 310px;
    }
    .img3{
        right: 310px;
    }
    .img4{
        right: 340px;
    }
    .text1{
        left: 240px;
    }
    .text2{
        right: 240px;
    }
    .container{
        margin-left: 390px;
    }
    .h2{
        margin-left: 240px;
    }
    .video{
        width: 950px;
    }
    .maps{
        width: 500px;
    }
}

@media (max-width: 1200px){
    .img1{
        left: 300px;
    }
    .img2{
        left: 270px;
    }
    .img3{
        right: 270px;
    }
    .img4{
        right: 300px;
    }
    .text1{
        left: 190px;
    }
    .text2{
        right: 190px;
    }
    .container{
        margin-left: 335px;
    }
    .h2{
        margin-left: 190px;
    }
    .video{
        width: 900px;
    }
}

@media (max-width: 1115px){
    .img1{
        left: 250px;
    }
    .img2{
        left: 220px;
    }
    .img3{
        right: 220px;
    }
    .img4{
        right: 250px;
    }
    .text1{
        left: 140px;
    }
    .text2{
        right: 140px;
    }
    .container{
        margin-left: 300px;
    }
    .h2{
        margin-left: 140px;
    }
    .video{
        width: 880px;
    }
}

@media (max-width: 1010px){
    .img1{
        left: 180px;
    }
    .img2{
        left: 150px;
    }
    .img3{
        right: 150px;
    }
    .img4{
        right: 180px;
    }
    .text1{
        display: block;
        left: 32%;
        margin-top: 160px;
    }
    .text2{
        display: block;
        left: 32%;
    }
    .container{
        margin-left: 245px;
    }
    .h2{
        margin-left: 260px;
    }
    .video{
        width: 760px;
        margin-top: 420px;
    }
}

@media (max-width: 880px){
    .img1{
        left: 80px;
    }
    .img2{
        left: 90px;
    }
    .img3{
        right: 90px;
    }
    .img4{
        right: 120px;
    }
    .text1{
        display: block;
        left: 28%;
        margin-top: 160px;
    }
    .text2{
        display: block;
        left: 28%;
    }
    .container{
        margin-left: 230px;
    }
    .h2{
        margin-left: 165px;
    }
    .video{
        width: 650px;
        margin-top: 420px;
    }

    li{
        margin-right: 20px;
    }
}

@media (max-width: 730px){
    .img1{
        left: 230px;
        bottom:-425px;
    }
    .img2{
        left: 240px;
        top:1450px;
    }
    .img3{
        right: 210px;
        top:1750px;
    }
    .img4{
        right: 230px;
    }
    .text1{
        display: block;
        left: 28%;
        margin-top: 160px;
    }
    .text2{
        display: block;
        left: 28%;
    }
    .container{
        margin-left: 200px;
    }
    .h2{
        margin-left: 140px;
    }
    .video{
        width: 500px;
        margin-top: 420px;
    }

    li{
        margin-right: 20px;
    }
    
    .maps{
        width: 400px;
    }

    section{
        padding-top: 500px;
    }
}

@media (max-width: 660px){
    .img1{
        left: 200px;
        bottom:-425px;
    }
    .img2{
        left: 190px;
        top:1450px;
    }
    .img3{
        right: 210px;
        top:1750px;
    }
    .img4{
        right: 200px;
    }
    .text1{
        display: block;
        left: 22%;
        margin-top: 190px;
    }
    .text2{
        display: block;
        left: 22%;
    }
    .container{
        margin-left: 185px;
    }
    .h2{
        margin-left: 80px;
    }
    .video{
        width: 450px;
        margin-top: 420px;
    }

    li{
        margin-right: 10px;
    }
    
    .li3, .li4{
        margin-top: 30px;
    }
    
    .maps{
        width: 400px;
    }

    section{
        padding-top: 500px;
    }
}